__pycache__
Logs
python/t.json
python/*.json.bak
python/*.json
python/*.json.gz
.vscode
cpp/*
!cpp/*.hpp
!cpp/*.cpp
!cpp/*.sln
!cpp/*.vcxproj*
result.prof
*.log
Unreal_ProjectAirSim
Unity_AdvancedAirSim