numpy
open3d
opencv-python
sortedcontainers
# pip uninstall msgpack-rpc-python
rpc-msgpack
# cppyy-cling==6.32.8 --no-deps --no-build-isolation --force-reinstall
# cppyy-backend==1.15.3 --no-deps --no-build-isolation --force-reinstall
# CPyCppyy==1.13.0 --no-deps --no-build-isolation --force-reinstall
# cppyy==3.5.0 --no-deps --no-build-isolation --force-reinstall